body {
  margin: 0px;
}

.modalfull {
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 789px;
  justify-content: center;
  flex-direction: column;
}

.modaltitle {
  border-bottom: 1px solid rgb(235, 235, 235);
  border: solid gray 1px;
  box-sizing: border-box;
  flex-basis: auto;
  display: flex;
  width: 568px;
  height: 64px;
  padding: 0px 24px 0px 24px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.closeicon {
  width: 20px;
  height: 20px;
}

.join {
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.country {
  border: solid 1px gray;
  padding: 12px 36px 12px 12px;
  font-size: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.korea {
  font-size: 16px;
}

.number {
  color: gray;
  padding: 16px 36px 16px 12px;
  border: gray solid 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.arm {
  font-size: 12px;
  padding: 10px 0px 16px 0px;
  color: gray;
}

.continue {
  background-color: hotpink;
  width: 520px;
  height: 48px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  transition-duration: 1s;
}

.continue:hover {
  background-color: pink;
  cursor: pointer;
  transition-duration: 1s;
}

.solid {
  border-color: hotpink;

  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 12px;
}

.or {
  padding: 10px;
  font-size: 10px;
  color: gray;
}

.email {
  box-sizing: border-box;
  border: solid 2px grey;
  margin-top: 16px;
  display: flex;

  justify-content: center;
  text-align: center;
  padding: 10px 12px;
  border-radius: 10px;
  width: 520px;
  height: 48px;
}

.email:hover {
  border-color: black;
  cursor: pointer;
}

.emailimg {
  width: 20px;
  height: 20px;
}

.facebook {
  box-sizing: border-box;
  border: solid 2px grey;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 12px;
  border-radius: 10px;
  width: 520px;
  height: 48px;
}

.facebook:hover {
  border-color: black;
  cursor: pointer;
}

.facebookicon {
  width: 20px;
  height: 20px;
}

.google {
  box-sizing: border-box;
  border: solid 2px grey;
  margin-top: 16px;
  justify-content: center;
  text-align: center;
  padding: 10px 12px;
  border-radius: 10px;
  width: 520px;
  height: 48px;
  display: flex;
}

.google:hover {
  border-color: black;
  cursor: pointer;
}

.googleicon {
  width: 20px;
  height: 20px;
  display: flex;
}

.apple {
  box-sizing: border-box;
  border: solid 2px grey;
  margin-top: 16px;
  justify-content: center;
  text-align: center;
  padding: 10px 12px;
  border-radius: 10px;
  width: 520px;
  height: 48px;
  display: flex;
}

.apple:hover {
  border-color: black;
  cursor: pointer;
}

.appleicon {
  width: 20px;
  height: 20px;
}

.already {
  font-size: 14px;
  color: grey;
  padding-top: 16px;
}

.modaltext {
  box-sizing: border-box;
  height: 612px;
  padding: 24px;
  width: 568px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
